<div>
  <style>
    body, html {
      padding: 0px;
      margin: 0px;
    }

    /* Grid */
    .row {
      display: -ms-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
    }
    .col {
      width: 25%;
    }

    /* Block app */
    .app {
      display: block;
      box-sizing: border-box;
      height: 454px;
      overflow: hidden;
      position: relative;
    }

    .app_theme_white {
      background: #fff;
    }
    .app_theme_orange {
      background: #FF5F0C;
    }
    .app_theme_black {
      background: #000;
    }
    .app_theme_red {
      background: #B81111;
    }

    .app_color_white {
      color: #fff;
    }
    a.app_color_white {
      color: #fff !important;
    }
    .app_color_black {
      color: #000;
    }

      /* Image */
    .app__image {
      position: absolute;
      display: block;
      z-index: 2;
      -webkit-transition: -webkit-transform 0.4s;
      transition: -webkit-transform 0.4s;
      -o-transition: transform 0.4s;
      transition: transform 0.4s;
      transition: transform 0.4s, -webkit-transform 0.4s;
    }
    .app__image_teme_orange {
      width: 535px;
      top: -35px;
      left: -200px;
    }
    .app__image_teme_white {
      width: 638px;
      top: -30px;
      left: 28px;
    }
    .app__image_teme_black {
      width: 334px;
      top: -105px;
      left: 37px;
    }
    .app__image_teme_red {
      width: 320px;
      top: 0;
      left: 0;
    }

    .app__text {
      font-family: 'Gerbera', 'Helvetica', 'Arial', 'sans-serif';
      font-weight: 100;
      position: absolute;
      left: 50px;
      bottom: 30px;
      z-index: 3;
    }
    .app__title {
      display: block;
      font-size: 26px;
      line-height: 40px;
    }
    .app__description {
      display: block;
      font-size: 16px;
      line-height: 26px;
    }

    /* Figure */
    .figure {
      position: absolute;
      display: block;
      z-index: 1;
      -webkit-transition: -webkit-transform 0.8s;
      transition: -webkit-transform 0.8s;
      -o-transition: transform 0.8s;
      transition: transform 0.8s;
      transition: transform 0.8s, -webkit-transform 0.8s;
    }
    .figure_theme_orange {
      width: 460px;
      top: -45px;
      left: -165px;
    }
    .figure_theme_green {
      width: 448px;
      bottom: -35px;
      left: -20px;
    }

    /* Images */
    .images {
      position: absolute;
      width: 320px;
      top: 0;
      bottom: 0;
      left: 50%;
      margin-left: -160px;
    }

    .lazyload {
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
      opacity: 0;
    }
    .lazyload.loaded {
      opacity: 1;
    }

    /* Animations */
    .app:hover .figure {
      -webkit-transform: scale(1.03);
          -ms-transform: scale(1.03);
              transform: scale(1.03);
    }
    .app:hover .app__image {
      -webkit-transform: scale(1.1);
          -ms-transform: scale(1.1);
              transform: scale(1.1);
    }

    /* Adaptive */
    @media screen and (min-width: 1025px) and (max-width: 1152px) {
      .app__text {
        left: 20px;
      }
    }
    @media screen and (min-width: 321px) and (max-width: 1024px) {
      .col {
        width: 50%;
      }
    }
    @media screen and (max-width: 767px) {
      .col {
        width: 100%;
      }

      .app__text {
        left: 20px;
      }

      /* Disable animations */
      .app:hover .figure {
        -webkit-transform: scale(1);
            -ms-transform: scale(1);
                transform: scale(1);
      }
      .app:hover .app__image {
        -webkit-transform: scale(1);
            -ms-transform: scale(1);
                transform: scale(1);
      }
    }

  </style>
  <div class="portfolio row">

    <!-- Col 1 -->
    <div class="col">
      <!-- dodo -->
      <a href="/" target="_blank" title="Додо пицца" class="app app_color_white app_theme_orange">
        <span class="images">
          <img src="https://static.tildacdn.com/tild3666-3730-4231-b237-356461303735/figure_orange.svg" class="figure figure_theme_orange" />
          <img
            src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs="
            data-original="https://static.tildacdn.com/tild6439-3262-4863-a165-313532383766/app_1_2x.png"
            class="app__image app__image_teme_orange lazyload"
          />
        </span>
        <span class="app__text">
          <span class="app__title">
            додо пицца
          </span>
          <span class="app__description">
            70% онлайн-продаж
            <br/>
            через приложение
          </span>
        </span>
      </a>
    </div>

    <!-- Col 2 -->
    <div class="col">
      <!-- go lama go -->
      <a href="/" target="_blank" title="Додо пицца" class="app app_color_black app_theme_white">
        <span class="images">
          <img src="https://static.tildacdn.com/tild6435-3134-4237-b534-383935656262/figure_green.svg" class="figure figure_theme_green" />
          <img
            src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs="
            data-original="https://static.tildacdn.com/tild3035-3536-4930-b664-383930396661/app_2_2x.png"
            class="app__image app__image_teme_white lazyload"
          />
        </span>
        <span class="app__text">
          <span class="app__title">
            go lama go
          </span>
          <span class="app__description">
            Успеть реализовать
            <br/>
            маркетплйс за 90 дней
          </span>
        </span>
      </a>
    </div>

    <!-- Col 3 -->
    <div class="col">
      <!-- labirint -->
      <a href="/" target="_blank" title="go lama go" class="app app_color_white app_theme_black">
        <span class="images">
          <img
            src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs="
            data-original="https://static.tildacdn.com/tild3635-6433-4764-b037-613437653065/app_3_2x.png"
            class="app__image app__image_teme_black lazyload"
          />
        </span>
        <span class="app__text">
          <span class="app__title">
            лабиринт.ру
          </span>
          <span class="app__description">
            4 года продуктовой работы
            <br/>
            вместе с клиентом
          </span>
        </span>
      </a>
    </div>

    <!-- Col 4 -->
    <div class="col">
      <!-- magnit -->
      <a href="/" target="_blank" title="go lama go" class="app app_color_white app_theme_red">
        <span class="images">
          <img
            src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs="
            data-original="https://static.tildacdn.com/tild6332-6362-4139-b634-303435643030/app_4.png"
            class="app__image app__image_teme_red lazyload"
          />
        </span>
        <span class="app__text">
          <span class="app__title">
            магнит
          </span>
          <span class="app__description">
            Продуктовая работа уже более
            <br/>
            3 лет
          </span>
        </span>
      </a>
    </div>
    <!-- image loading -->
    <script>
      (function(){
        function lazyload(selector) {
          const options = { attr: 'data-original' };
          const tildaImages = document.querySelectorAll(selector);
          Array.prototype.forEach.call(tildaImages, (item) => {
            if (!item.getAttribute(options.attr)) return;
            const img = document.createElement('img');
            img.src = item.getAttribute(options.attr);
            const isImg = item.tagName === 'IMG';
            img.onload = () => {
              const src = item.getAttribute(options.attr);
              const style = {
                backgroundImage: `url("${ src }")`,
              };
              item.src = src;
              item.removeAttribute(options.attr);
              item.classList.add('loaded');
            };
          });
        };

        lazyload('.lazyload');

      }())
    </script>
  </div>
</div>
